//==
//== Dashboard layout
//== ======================================= ==//

.dashboard-layout {
  display: flex;

  &__sidebar {
    flex-shrink: 0;
    width: $sidebar-width;
    background: $dashboard-sidebar-bg;
  }

  &__main {
    @include make-gutters();
    flex-grow: 1;
    max-width: calc(100% - #{$sidebar-width});
  }
}
