//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  mb: 384px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
) !default;

// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
) !default;

// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns: 12 !default;
$grid-gutter-width-base: 30px !default;
$grid-gutter-widths: (
  xs: 12px,
  mb: 16px,
  sm: 16px,
  md: 20px,
  lg: 26px,
  xl: $grid-gutter-width-base,
) !default;

$grid-float-breakpoint: map_get($grid-breakpoints, sm) !default;
$grid-float-breakpoint-max: $grid-float-breakpoint - 1;

$grid-container-class: 'container' !default;
$grid-container-fluid-class: 'container-fluid' !default;
$grid-row-class: 'row' !default;
$grid-col-class: 'col' !default;

$grid-col-push-classes: false !default;
$grid-col-pull-classes: false !default;
$grid-col-offset-classes: false !default;

// Grid option
//
// Use rem units for breakpoints instead pixels.
// Required package vRhythm
$grid-use-rem: false !default;

// Grid option
//
// Use flex layout instead float blocks.
$grid-use-flex: true !default;

// Grid option
//
// Add box-sizing rule for columns. Required if isn't defined global in your stylesheet.
$grid-add-box-sizing: false !default;
