//==
//== Headings settings
//== ======================================= ==//

$headings: (
  h1: (
    font-size: 30px,
    line-height: 1.5,
    font-weight : 400,
    margin-leader: 0,
    margin-trailer: 0.5,
  ),
  h2: (
    font-size: 26px,
    line-height: 1.5,
    font-weight : 400,
    margin-leader: 0,
    margin-trailer: 0.5,
  ),
  h3: (
    font-size: 22px,
    line-height: 1.5,
    font-weight : 400,
    margin-leader: 0,
    margin-trailer: 0.5,
  ),
  h4: (
    font-size: 18px,
    line-height: 1,
    font-weight : 400,
    margin-leader: 0,
    margin-trailer: 0,
  ),
  h5: (
    font-size: 16px,
    line-height: 1,
    font-weight : 400,
    margin-leader: 0,
    margin-trailer: 0
  ),
  h6: (
    font-size: 15px,
    line-height: 1,
    font-weight : 400,
    font-style: italic,
    margin-leader: 0,
    margin-trailer: 0
  ),
);
