//==
//== Buttons
//== ======================================= ==//

$btn-border-radius-base: 3px;
$btn-border-radius-large: 5px;
$btn-border-radius-small: 2px;

$btn-font-weight: 400;

$btn-default-color: $color-text-base;
$btn-default-bg: lighten($background-base, 5%);
$btn-default-border: darken($btn-default-bg, 12%);

$_darkness: 50%;
$button-themes: (
  primary: (
    color: #fff,
    bg: $color-primary,
    border: darken($color-primary, $_darkness),
  ),
  info: (
    color: #fff,
    bg: $color-info,
    border: darken($color-info, $_darkness),
  ),
  success: (
    color: #fff,
    bg: $color-success,
    border: darken($color-success, $_darkness),
  ),
  warning: (
    color: #fff,
    bg: $color-warning,
    border: darken($color-warning, $_darkness),
  ),
  danger: (
    color: #fff,
    bg: $color-danger,
    border: darken($color-danger, $_darkness),
  ),
);


$button-sizes: (
  normal: (
    font-size: $rhythm-base-font-size,
    line-height: 1,
    height: 1.5,
    radius: $btn-border-radius-base,
  ),
  lg: (
    font-size: ceil(($rhythm-base-font-size * 1.25)),
    line-height: 1.25,
    height: 2,
    radius: $btn-border-radius-large,
  ),
  sm: (
    font-size: ceil(($rhythm-base-font-size * 0.85)),
    line-height: 1,
    height: 1,
    radius: $btn-border-radius-small,
  ),
);
