//==
//== Vertical rhythm settings
//== ======================================= ==//

$rhythm-grid-baseline-color: rgba(#4affff, 0.3) !default;
$rhythm-grid-baseline-height: 1.5em !default;
$rhythm-grid-baseline-show: true !default;
$rhythm-grid-show: true !default;
$rhythm-base-font-size: 15px !default;
$rhythm-base-line-height: 24px !default;
$rhythm-unit: 'rem' !default;
$rhythm-rem-with-px-fallback: false !default;
$rhythm-default-border-width: 1px !default;
$rhythm-default-border-style: solid !default;
$rhythm-round-to-nearest-half-line: false !default;
$rhythm-min-line-padding: 2px !default;
