//==
//== App
//== ======================================= ==//

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &__navbar,
  &__footer {
    width: 100%;
  }

  &__navbar {
  }

  &__main {
    @include padding-leader($navbar-height-rhythm);
    flex-grow: 1;
  }

  &__footer {
  }

  &__loader {
    position: fixed;
    z-index: 99998;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(#000, 0.1);
  }
}
