//==
//== Logo
//== ======================================= ==//

.app-logo {
  @include wt-transition(background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none !important;
  color: currentColor !important;
  font-family: $wt-family-head;
  font-weight: 400;

  &__image {
    @include size(rhythm($navbar-height-rhythm - $navbar-padding-rhythm * 2));
  }

  &__name {
    @include font(20px);
    margin-left: 0.5em;
    transform: scaleY(1.3);
  }

  &__beta {
    @include font(11px);
    position: relative;
    top: -0.5em;
    margin-left: 0.5em;
  }

  &:hover {
    background-color: $app-navbar-background-hover;
  }
}
