//==
//== Component: AppNavbar.vue
//== ======================================= ==//

.app-navbar {
  @include font(13px);
  position: fixed;
  z-index: $z-navbar-fixed;
  color: $app-navbar-color;
  background: $app-navbar-background;
  box-shadow: $shadow-bar;

  &__container {
    display: flex;
    height: rhythm($navbar-height-rhythm);
  }

  &__logo {
    flex-shrink: 0;
    width: $sidebar-width;
    background: $wt-second-color-dark;
  }

  &__mainmenu {
    margin-right: 1em;
  }

  &__usermenu {
    margin-left: auto !important;
  }
}

.sidebar-toggle {
  @include size(rhythm($navbar-height-rhythm));
  @include wt-transition(background-color);
  padding: 0;
  color: currentColor;
  border: none;
  background: none;

  &:hover {
    color: $app-navbar-color-hover;
    background-color: $app-navbar-background-hover;
  }

  &:focus,
  &:active {
    background: transparent;
  }
}
