//==
//== Component: Box
//== ======================================= ==//

@mixin box-variant($btc) {
  border-top-color: $btc;

  .box2 {
    &__icon {
      color: $btc;
    }
  }
}

.box2 {
  @include margin-trailer(1);
  width: 100%;
  border-top: $box2-border-top-width solid transparent;
  border-radius: $box2-border-radius;
  background: $dashboard-sidebar-bg;
  box-shadow: $box2-shadow;

  &__header {
    @include font(18px, 1);
    display: flex;
    align-items: center;
    margin: ($box2-border-top-width / -1) 0 0;
    padding: rhythm(0.5);
    border-bottom: 1px solid $box2-divider-color;
    font-weight: 600;

    &:not(:last-child) {
      margin-bottom: -1px;
    }
  }

  &__icon {
    flex-shrink: 0;
    margin-right: 0.5em;
  }

  &__title {
  }

  &__body {
    margin: 0;
    padding: rhythm(0.5);

    &:first-child {
      margin-top: ($box2-border-top-width / -1);
    }
  }

  //==
  //== Box color variation
  //== @formatter:off
  //== ======================================= ==//

  @include box-variant($box2-theme-default);

  &_style_primary { @include box-variant($box2-theme-primary); }
  &_style_info    { @include box-variant($box2-theme-info);    }
  &_style_danger  { @include box-variant($box2-theme-danger);  }
  &_style_warning { @include box-variant($box2-theme-warning); }
  &_style_success { @include box-variant($box2-theme-success); }

  &_style_transparent {
    overflow: hidden;
    background:none;

    .box2__header {
      background: $dashboard-sidebar-bg;
    }
  }
}
