//==
//== Component: Checkbox.vue
//== ======================================= ==//

$checkbox-size: 18px !default;

.checkbox {
  --checkbox-theme-color: #{$color-primary};
  --checkbox-theme-shadow: #{rgba($color-primary, 0.3)};

  &__label {
    display: inline-flex;
    align-items: flex-start;
    cursor: pointer;
    vertical-align: middle;
  }

  &__element {
    position: absolute;
    left: -999999px;
  }

  &__box {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    height: rem($rhythm-base-line-height);
  }

  &__indicator {
    @include size($checkbox-size);
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transition: 0.15s ease;
    border: $checkbox-border solid var(--checkbox-theme-color);
    background: $background-base;
  }

  &__tick {
    @include size($checkbox-size - 6);
    position: relative;
    display: block;
    overflow: hidden;
    margin: auto;
    transition: .15s ease;
    opacity: 0;

    &::before {
      position: absolute;
      bottom: 0;
      left: 30%;
      width: 200%;
      height: 200%;
      content: '';
      transform: rotate(-42deg);
      transform-origin: 0 100%;
      border: 3px solid var(--checkbox-theme-color);
      border-top: 0;
      border-right: 0;
    }

    &_checked {
      opacity: 1;
    }
  }

  &__label:hover &__indicator {
    box-shadow:inset 0 0 0 30px var(--checkbox-theme-shadow);
  }

  &__text {
    padding-left: 0.5rem;
    user-select: none;
    line-height: rhythm(1);
  }

  &_theme_info {
    --checkbox-theme-color: #{$color-info};
    --checkbox-theme-shadow: #{rgba($color-primary, 0.3)};
  }

  &_theme_success {
    --checkbox-theme-color: #{$color-success};
    --checkbox-theme-shadow: #{rgba($color-success, 0.3)};
  }

  &_theme_warning {
    --checkbox-theme-color: #{$color-warning};
    --checkbox-theme-shadow: #{rgba($color-warning, 0.3)};
  }

  &_theme_danger {
    --checkbox-theme-color: #{$color-danger};
    --checkbox-theme-shadow: #{rgba($color-danger, 0.3)};
  }

  &_disabled .checkbox {
    &__indicator {
      opacity: 0.5;
      box-shadow: none !important;
    }
  }

  &_disabled &__label {
    cursor: default;
  }
}
