//==
//== Component CloseButton.vue
//== ======================================= ==//

.close-button {
  @include size(rhythm(1));
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
  color: currentColor;
  border: 0;
  background: none;

  &__icon {
    @include size(100%);
  }

  &_theme_primary {
    color: $color-primary;
  }

  &_theme_info {
    color: $color-primary;
  }

  &_theme_success {
    color: $color-primary;
  }

  &_theme_warning {
    color: $color-primary;
  }

  &_theme_danger {
    color: $color-primary;
  }
}
