//==
//== Component: ErrorBox.vue
//== ======================================= ==//

$error-box-title-height: 1.25;

:root {
  --theme-color: #{$color-text-base};
}

.error-box {
  display: flex;
  align-items: flex-start;
  width: 650px;
  max-width: 100%;
  margin: 0;
  padding: rhythm($error-box-title-height + 1) rhythm(1) rhythm(1);

  &__error-code {
    @include font(100px, 1em);
    margin-bottom: 0;
    transform: scaleY(1.5) scaleX(0.95) translateY(0.03em);
    transform-origin: 0 100%;
    color: var(--theme-color);
    font-family: $wt-family-base;
    font-weight: 400;
  }

  &__error-code + &__body {
    padding-left: rhythm(1);
  }

  &_lighting &__error-code {
    text-shadow: 0 0 20px var(--theme-color);
  }

  &__title {
    @include font(24px, $error-box-title-height);
    margin-top: rhythm(-$error-box-title-height);
    font-family: $wt-family-head;
  }

  &__icon {
    @include size(0.85em);
    margin-right: .25em;
    margin-bottom: -0.1em;
    color: var(--theme-color);
  }

  &__content {
    padding-top: rhythm(0.5);

    p {
      margin: 0 0 rhythm(0.25);

      &:last-child {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: underline;
      opacity: 0.8;
      color: var(--theme-color);

      &:hover {
        opacity: 1;
        color: $color-link-hover;
      }
    }
  }

  &_theme_primary {
    --theme-color: #{$color-primary};
  }

  &_theme_info {
    --theme-color: #{$color-info};
  }

  &_theme_success {
    --theme-color: #{$color-success};
  }

  &_theme_warning {
    --theme-color: #{$color-warning};
  }

  &_theme_danger {
    --theme-color: #{$color-danger};
  }
}
