//==
//== Input box
//== ======================================= ==//

$inputbox-font-size: $rhythm-base-font-size;
$inputbox-h-padding: rhythm(0.5);
$inputbox-border-bottom: 2px;
$inputbox-background: lighten($dashboard-sidebar-bg, 10%);
$inputbox-color: #eee;
$inputbox-text-color: $color-text-base;
$inputbox-disabled-color: $color-text-base;
$inputbox-border-color: $color-primary;
$inputbox-border-color-success: $color-success;
$inputbox-border-color-warning: $color-warning;
$inputbox-border-color-danger: $color-danger;

:root {
  --inputbox-border-color: #{$inputbox-border-color};
  --inputbox-text-color: #{$inputbox-text-color};
}

.inputbox {
  $this: &;
  position: relative;
  width: 100%;

  &__label {
    @include font($inputbox-font-size - 2, 1);
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
  }

  &__label-icon {
    margin-right: 0.5em;
    color: var(--inputbox-text-color);
  }

  &__container {
    position: relative;
    display: flex;
  }

  &__control {
    @include font($inputbox-font-size, 1);
    display: block;
    flex-grow: 1;
    width: 100%;
    padding-right: $inputbox-h-padding;
    padding-left: $inputbox-h-padding;
    color: $inputbox-color;
    border: 1px solid $inputbox-background;
    border-bottom: $inputbox-border-bottom solid var(--inputbox-border-color);
    background-color: $inputbox-background;
    box-shadow: none;

    &:focus {
      border-color: var(--inputbox-border-color);
      outline: none;
      box-shadow: none;
    }

    &::placeholder {
      opacity: 0.5;
      color: $inputbox-color;
      font-weight: 300;
      font-style: italic;
    }

    &:focus::placeholder {
      opacity: 0.2;
    }

    &:-webkit-autofill {
      color: $inputbox-color !important;
      border-color: $palette-aqua;
      -webkit-box-shadow: inset 0 0 0 50px $inputbox-background !important;
      -webkit-text-fill-color: $inputbox-color !important;
    }

    &:disabled {
      cursor: $cursor-disabled;
      color: $inputbox-disabled-color;
    }

    &:read-only {
      color: $inputbox-disabled-color;
    }

    &:not(select) {
      appearance: none;
    }
  }

  &__input {
    height: rhythm(1.5);
  }

  &__textarea {
    &:not([rows]) {
      height: rhythm(3);
    }
  }

  &__addon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    color: var(--inputbox-text-color);
    border-top: 1px solid $inputbox-background;
    border-bottom: $inputbox-border-bottom solid var(--inputbox-border-color);
    background-color: $inputbox-background;
  }

  &__control:focus + &__addon {
    border-color: var(--inputbox-border-color);
  }

  &__control:-webkit-autofill + &__addon {
    border-color: $palette-aqua;
  }

  &__help {
    @include font($inputbox-font-size - 3, 1);
    color: var(--inputbox-text-color);
    font-style: italic;
  }

  &_status_success {
    --inputbox-border-color: #{$inputbox-border-color-success};
    --inputbox-text-color: #{$inputbox-border-color-success};
  }

  &_status_warning {
    --inputbox-border-color: #{$inputbox-border-color-warning};
    --inputbox-text-color: #{$inputbox-border-color-warning};
  }

  &_status_danger {
    --inputbox-border-color: #{$inputbox-border-color-danger};
    --inputbox-text-color: #{$inputbox-border-color-danger};
  }

  &_addon_start {
    #{$this}__container {
      flex-direction: row-reverse;
    }

    #{$this}__addon {
      padding-left: $inputbox-h-padding;
      border-left: 1px solid $inputbox-background;
    }

    #{$this}__control {
      border-left: none;
    }
  }

  &_addon_end {
    #{$this}__container {
    }

    #{$this}__addon {
      padding-right: $inputbox-h-padding;
      border-right: 1px solid $inputbox-background;
    }

    #{$this}__control {
      border-right: none;
    }
  }
}
