//==
//== Component Loader.vue
//== ======================================= ==//

.loader {
  height: 50px;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: top;

  svg {
    @include size(50px);

    path {
      fill: $wt-accent-color;
    }
  }
}
