//==
//== Component: NavMenu.vue
//== ======================================= ==//

.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $app-navbar-color;

  &__item {
    position: relative;
    display: flex;
  }

  &__link {
    @include wt-transition(color, background-color);
    display: flex;
    align-items: center;
    padding: 0 1em;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: $app-navbar-color;

    &:focus {
      outline: 1px dotted rgba(#fff, 0.3);
      outline-offset: -2px;
    }
  }

  &__link:focus,
  &__link:hover,
  &__item:hover &__link {
    color: $app-navbar-color-hover;
    background-color: $app-navbar-background-hover;
  }

  &__icon {
    margin-right: 0.5em;
  }
}
