//==
//== Component: page-header
//== ======================================= ==//

.page-header {
  @include rhythm-padding(0.25 - 0.125, 0.75 + 0.125);
  display: flex;
  align-items: center;
  //position: relative;
  //
  //&::after {
  //  content: '';
  //  left: 0;
  //  top: 100%;
  //  height: rhythm(1);
  //  background: #000;
  //  position: absolute;
  //  width: 100%;
  //}

  > h1 {
    @include font($page-header-font-size, 2);
    display: flex;
    align-items: baseline;
    flex-grow: 1;
    flex-wrap: wrap;
    margin: 0;

    > small {
      padding-left: 1em;
      opacity: 0.85;
      font-size: 0.625em;
      font-weight: 400;
      line-height: 1;
    }
  }
}
