//==
//== Component: UserMenu.vue
//== ======================================= ==//

.usermenu {
  position: absolute;
  z-index: $z-dropdown;
  top: 100%;
  right: 0;
  left: auto;
  display: block;
  min-width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  border: 1px solid darken($palette-light-blue, 5%);
  border-radius: 0;
  background-color: $palette-light-blue;
  box-shadow: $shadow-bar;
  font-size: 1em;

  &__item {
    position: relative;

    &:not(:first-child) {
      border-top: 1px solid rgba(#000, 0.2);
    }
  }

  &__link {
    display: flex;
    align-items: center;
    padding: rhythm(0.25) rhythm(0.5) rhythm(0.25) rhythm(1.5);
    cursor: pointer;
    color: currentColor;

    &:hover {
      color: $app-navbar-color-hover;
      background-color: $app-navbar-background-hover;
    }
  }

  &__icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: rhythm(0.25) rhythm(0.5);
  }
}
