{#
  WofhTools
  delphinpro delphinpro@gmail.com
  copyright © 2019 delphinpro
  licensed under the MIT license
#}

<link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
<link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
<meta name="apple-mobile-web-app-title" content="WofhTools">
<meta name="application-name" content="WofhTools">
<meta name="msapplication-TileColor" content="#080927">
<meta name="theme-color" content="#ffffff">

<meta property="og:image" content="/favicon/og-image.jpg">
<meta property="og:image:height" content="128">
<meta property="og:image:width" content="85">
<meta property="og:title" content="WofhTools">
<meta property="og:url" content="http://wofh-tools.ru">
<meta property="og:description"
    content="Сайт пользовательских дополнений и инструментов для онлайн игры waysofhistory.com"
>
