{#
  WofhTools
  delphinpro delphinpro@gmail.com
  copyright © 2019 delphinpro
  licensed under the MIT license
#}

<noscript>
    <strong>
        We're sorry but wofh-tools.ru doesn't work properly without JavaScript enabled. Please enable it to continue.
    </strong>
</noscript>
