////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2018 delphinpro
/// @license licensed under the MIT license
////

$dev-outline-width: 1px;
$dev-outline-style: dotted;

[data-outline="1"] body {
  article     { outline: $dev-outline-width $dev-outline-style #3498db !important; outline-offset: ($dev-outline-width / -1); }
  nav         { outline: $dev-outline-width $dev-outline-style #0088c3 !important; outline-offset: ($dev-outline-width / -1); }
  aside       { outline: $dev-outline-width $dev-outline-style #33a0ce !important; outline-offset: ($dev-outline-width / -1); }
  section     { outline: $dev-outline-width $dev-outline-style #66b8da !important; outline-offset: ($dev-outline-width / -1); }
  header      { outline: $dev-outline-width $dev-outline-style #99cfe7 !important; outline-offset: ($dev-outline-width / -1); }
  footer      { outline: $dev-outline-width $dev-outline-style #cce7f3 !important; outline-offset: ($dev-outline-width / -1); }
  h1          { outline: $dev-outline-width $dev-outline-style #162544 !important; outline-offset: ($dev-outline-width / -1); }
  h2          { outline: $dev-outline-width $dev-outline-style #314e6e !important; outline-offset: ($dev-outline-width / -1); }
  h3          { outline: $dev-outline-width $dev-outline-style #3e5e85 !important; outline-offset: ($dev-outline-width / -1); }
  h4          { outline: $dev-outline-width $dev-outline-style #449baf !important; outline-offset: ($dev-outline-width / -1); }
  h5          { outline: $dev-outline-width $dev-outline-style #c7d1cb !important; outline-offset: ($dev-outline-width / -1); }
  h6          { outline: $dev-outline-width $dev-outline-style #4371d0 !important; outline-offset: ($dev-outline-width / -1); }
  main        { outline: $dev-outline-width $dev-outline-style #2f4f90 !important; outline-offset: ($dev-outline-width / -1); }
  address     { outline: $dev-outline-width $dev-outline-style #1a2c51 !important; outline-offset: ($dev-outline-width / -1); }
  div         { outline: $dev-outline-width $dev-outline-style #036cdb !important; outline-offset: ($dev-outline-width / -1); }
  p           { outline: $dev-outline-width $dev-outline-style #ac050b !important; outline-offset: ($dev-outline-width / -1); }
  hr          { outline: $dev-outline-width $dev-outline-style #ff063f !important; outline-offset: ($dev-outline-width / -1); }
  pre         { outline: $dev-outline-width $dev-outline-style #850440 !important; outline-offset: ($dev-outline-width / -1); }
  blockquote  { outline: $dev-outline-width $dev-outline-style #f1b8e7 !important; outline-offset: ($dev-outline-width / -1); }
  ol          { outline: $dev-outline-width $dev-outline-style #ff050c !important; outline-offset: ($dev-outline-width / -1); }
  ul          { outline: $dev-outline-width $dev-outline-style #d90416 !important; outline-offset: ($dev-outline-width / -1); }
  li          { outline: $dev-outline-width $dev-outline-style #d90416 !important; outline-offset: ($dev-outline-width / -1); }
  dl          { outline: $dev-outline-width $dev-outline-style #fd3427 !important; outline-offset: ($dev-outline-width / -1); }
  dt          { outline: $dev-outline-width $dev-outline-style #ff0043 !important; outline-offset: ($dev-outline-width / -1); }
  dd          { outline: $dev-outline-width $dev-outline-style #e80174 !important; outline-offset: ($dev-outline-width / -1); }
  figure      { outline: $dev-outline-width $dev-outline-style #ff00bb !important; outline-offset: ($dev-outline-width / -1); }
  figcaption  { outline: $dev-outline-width $dev-outline-style #bf0032 !important; outline-offset: ($dev-outline-width / -1); }
  table       { outline: $dev-outline-width $dev-outline-style #00cc99 !important; outline-offset: ($dev-outline-width / -1); }
  caption     { outline: $dev-outline-width $dev-outline-style #37ffc4 !important; outline-offset: ($dev-outline-width / -1); }
  thead       { outline: $dev-outline-width $dev-outline-style #98daca !important; outline-offset: ($dev-outline-width / -1); }
  tbody       { outline: $dev-outline-width $dev-outline-style #64a7a0 !important; outline-offset: ($dev-outline-width / -1); }
  tfoot       { outline: $dev-outline-width $dev-outline-style #22746b !important; outline-offset: ($dev-outline-width / -1); }
  tr          { outline: $dev-outline-width $dev-outline-style #86c0b2 !important; outline-offset: ($dev-outline-width / -1); }
  th          { outline: $dev-outline-width $dev-outline-style #a1e7d6 !important; outline-offset: ($dev-outline-width / -1); }
  td          { outline: $dev-outline-width $dev-outline-style #3f5a54 !important; outline-offset: ($dev-outline-width / -1); }
  col         { outline: $dev-outline-width $dev-outline-style #6c9a8f !important; outline-offset: ($dev-outline-width / -1); }
  colgroup    { outline: $dev-outline-width $dev-outline-style #6c9a9d !important; outline-offset: ($dev-outline-width / -1); }
  button      { outline: $dev-outline-width $dev-outline-style #da8301 !important; outline-offset: ($dev-outline-width / -1); }
  datalist    { outline: $dev-outline-width $dev-outline-style #c06000 !important; outline-offset: ($dev-outline-width / -1); }
  fieldset    { outline: $dev-outline-width $dev-outline-style #d95100 !important; outline-offset: ($dev-outline-width / -1); }
  form        { outline: $dev-outline-width $dev-outline-style #d23600 !important; outline-offset: ($dev-outline-width / -1); }
  input       { outline: $dev-outline-width $dev-outline-style #fca600 !important; outline-offset: ($dev-outline-width / -1); }
  keygen      { outline: $dev-outline-width $dev-outline-style #b31e00 !important; outline-offset: ($dev-outline-width / -1); }
  label       { outline: $dev-outline-width $dev-outline-style #ee8900 !important; outline-offset: ($dev-outline-width / -1); }
  legend      { outline: $dev-outline-width $dev-outline-style #de6d00 !important; outline-offset: ($dev-outline-width / -1); }
  meter       { outline: $dev-outline-width $dev-outline-style #e8630c !important; outline-offset: ($dev-outline-width / -1); }
  optgroup    { outline: $dev-outline-width $dev-outline-style #b33600 !important; outline-offset: ($dev-outline-width / -1); }
  option      { outline: $dev-outline-width $dev-outline-style #ff8a00 !important; outline-offset: ($dev-outline-width / -1); }
  output      { outline: $dev-outline-width $dev-outline-style #ff9619 !important; outline-offset: ($dev-outline-width / -1); }
  progress    { outline: $dev-outline-width $dev-outline-style #e57c00 !important; outline-offset: ($dev-outline-width / -1); }
  select      { outline: $dev-outline-width $dev-outline-style #e26e0f !important; outline-offset: ($dev-outline-width / -1); }
  textarea    { outline: $dev-outline-width $dev-outline-style #cc5400 !important; outline-offset: ($dev-outline-width / -1); }
  details     { outline: $dev-outline-width $dev-outline-style #33848f !important; outline-offset: ($dev-outline-width / -1); }
  summary     { outline: $dev-outline-width $dev-outline-style #60a1a6 !important; outline-offset: ($dev-outline-width / -1); }
  menu        { outline: $dev-outline-width $dev-outline-style #449da6 !important; outline-offset: ($dev-outline-width / -1); }
  del         { outline: $dev-outline-width $dev-outline-style #bf0000 !important; outline-offset: ($dev-outline-width / -1); }
  ins         { outline: $dev-outline-width $dev-outline-style #400000 !important; outline-offset: ($dev-outline-width / -1); }
  img         { outline: $dev-outline-width $dev-outline-style #22746b !important; outline-offset: ($dev-outline-width / -1); }
  iframe      { outline: $dev-outline-width $dev-outline-style #64a7a0 !important; outline-offset: ($dev-outline-width / -1); }
  embed       { outline: $dev-outline-width $dev-outline-style #98daca !important; outline-offset: ($dev-outline-width / -1); }
  object      { outline: $dev-outline-width $dev-outline-style #00cc99 !important; outline-offset: ($dev-outline-width / -1); }
  param       { outline: $dev-outline-width $dev-outline-style #37ffc4 !important; outline-offset: ($dev-outline-width / -1); }
  video       { outline: $dev-outline-width $dev-outline-style #6ee866 !important; outline-offset: ($dev-outline-width / -1); }
  audio       { outline: $dev-outline-width $dev-outline-style #027353 !important; outline-offset: ($dev-outline-width / -1); }
  source      { outline: $dev-outline-width $dev-outline-style #012426 !important; outline-offset: ($dev-outline-width / -1); }
  canvas      { outline: $dev-outline-width $dev-outline-style #a2f570 !important; outline-offset: ($dev-outline-width / -1); }
  track       { outline: $dev-outline-width $dev-outline-style #59a600 !important; outline-offset: ($dev-outline-width / -1); }
  map         { outline: $dev-outline-width $dev-outline-style #7be500 !important; outline-offset: ($dev-outline-width / -1); }
  area        { outline: $dev-outline-width $dev-outline-style #305900 !important; outline-offset: ($dev-outline-width / -1); }
  a           { outline: $dev-outline-width $dev-outline-style #ff62ab !important; outline-offset: ($dev-outline-width / -1); }
  em          { outline: $dev-outline-width $dev-outline-style #800b41 !important; outline-offset: ($dev-outline-width / -1); }
  strong      { outline: $dev-outline-width $dev-outline-style #ff1583 !important; outline-offset: ($dev-outline-width / -1); }
  i           { outline: $dev-outline-width $dev-outline-style #803156 !important; outline-offset: ($dev-outline-width / -1); }
  b           { outline: $dev-outline-width $dev-outline-style #cc1169 !important; outline-offset: ($dev-outline-width / -1); }
  u           { outline: $dev-outline-width $dev-outline-style #ff0430 !important; outline-offset: ($dev-outline-width / -1); }
  s           { outline: $dev-outline-width $dev-outline-style #f805e3 !important; outline-offset: ($dev-outline-width / -1); }
  small       { outline: $dev-outline-width $dev-outline-style #d107b2 !important; outline-offset: ($dev-outline-width / -1); }
  abbr        { outline: $dev-outline-width $dev-outline-style #4a0263 !important; outline-offset: ($dev-outline-width / -1); }
  q           { outline: $dev-outline-width $dev-outline-style #240018 !important; outline-offset: ($dev-outline-width / -1); }
  cite        { outline: $dev-outline-width $dev-outline-style #64003c !important; outline-offset: ($dev-outline-width / -1); }
  dfn         { outline: $dev-outline-width $dev-outline-style #b4005a !important; outline-offset: ($dev-outline-width / -1); }
  sub         { outline: $dev-outline-width $dev-outline-style #dba0c8 !important; outline-offset: ($dev-outline-width / -1); }
  sup         { outline: $dev-outline-width $dev-outline-style #cc0256 !important; outline-offset: ($dev-outline-width / -1); }
  time        { outline: $dev-outline-width $dev-outline-style #d6606d !important; outline-offset: ($dev-outline-width / -1); }
  code        { outline: $dev-outline-width $dev-outline-style #e04251 !important; outline-offset: ($dev-outline-width / -1); }
  kbd         { outline: $dev-outline-width $dev-outline-style #5e001f !important; outline-offset: ($dev-outline-width / -1); }
  samp        { outline: $dev-outline-width $dev-outline-style #9c0033 !important; outline-offset: ($dev-outline-width / -1); }
  var         { outline: $dev-outline-width $dev-outline-style #d90047 !important; outline-offset: ($dev-outline-width / -1); }
  mark        { outline: $dev-outline-width $dev-outline-style #ff0053 !important; outline-offset: ($dev-outline-width / -1); }
  bdi         { outline: $dev-outline-width $dev-outline-style #bf3668 !important; outline-offset: ($dev-outline-width / -1); }
  bdo         { outline: $dev-outline-width $dev-outline-style #6f1400 !important; outline-offset: ($dev-outline-width / -1); }
  ruby        { outline: $dev-outline-width $dev-outline-style #ff7b93 !important; outline-offset: ($dev-outline-width / -1); }
  rt          { outline: $dev-outline-width $dev-outline-style #ff2f54 !important; outline-offset: ($dev-outline-width / -1); }
  rp          { outline: $dev-outline-width $dev-outline-style #803e49 !important; outline-offset: ($dev-outline-width / -1); }
  span        { outline: $dev-outline-width $dev-outline-style #cc2643 !important; outline-offset: ($dev-outline-width / -1); }
  br          { outline: $dev-outline-width $dev-outline-style #db687d !important; outline-offset: ($dev-outline-width / -1); }
  wbr         { outline: $dev-outline-width $dev-outline-style #db175b !important; outline-offset: ($dev-outline-width / -1); }
}
