//==
//== Code
//== ======================================= ==//

%monospace {
  font-family: $font-family-monospace;
}

code {
  @extend %monospace;
  padding: 2px 4px;
  color: $code-color;
  background-color: $code-bg;
  font-size: 90%;
  font-weight: 300;
}

kbd {
  @extend %monospace;
  padding: 2px 4px;
  color: $kbd-color;
  background-color: $kbd-bg;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .25);
  font-size: 90%;

  kbd {
    padding: 0;
    box-shadow: none;
    font-size: 100%;
    font-weight: 700;
  }
}

pre {
  @extend %monospace;
  @extend %default-element;
  @include font($rhythm-base-font-size - 1px, 1);
  @include apply-side-rhythm-border(top, 1px, 0.5);
  @include apply-side-rhythm-border(bottom, 1px, 0.5);
  display: block;
  padding-right: rhythm(1);
  padding-left: rhythm(1);
  word-wrap: break-word;
  word-break: break-all;
  color: $pre-color;
  border: 1px solid $pre-border-color;
  background-color: $pre-bg;

  code {
    padding: 0;
    white-space: pre-wrap;
    color: inherit;
    border-radius: 0;
    background-color: transparent;
    font-size: inherit;
  }
}

samp {
  @extend %monospace;
}
