//==
//== Grouping controls
//== ======================================= ==//

.control-group {
  display: flex;

  > .btn {
    padding-right: 1em;
    padding-left: 1em;

    + .btn {
      margin-left: -1px;
    }

    &.active,
    &:active {
      z-index: 1;
    }
  }
}
