//==
//== Forms.
//== ======================================= ==//

fieldset {
  @include font($rhythm-base-font-size - 1px, 1);
  @include apply-side-rhythm-border(top, 1px, 0.5);
  @include apply-side-rhythm-border(bottom, 1px, 0.5);
  display: block;
  padding-right: rhythm(0.5);
  padding-left: rhythm(0.5);
  color: $pre-color;
  border: 1px solid $pre-border-color;
}

legend {
  padding-right: rhythm(0.25);
  padding-left: rhythm(0.25);
}

.form-group {
  display: block;

  &:not(.last) {
    @include margin-trailer(0.5);
  }
}
