////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2019 delphinpro
/// @license licensed under the MIT license
////

:root {
}

@include establish-baseline() {
  height: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  min-height: 100%;
  color: $color-text-base;
  background: $background-base;
  font-family: $wt-family-base;
  @include webkit-scrollbar($color-text-base);
}

@include make-grid-system();
