//==
//== Typography: Links
//== ======================================= ==//

a {
  transition: 0.3s ease;
  text-decoration: none;
  color: $color-link;

  &:hover,
  &:focus {
    color: $color-link-hover;
  }

  &:focus {
    @include tab-focus();
  }
}
