//==
//== Tables
//== ======================================= ==//

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  vertical-align: middle;
}

$table-border-color: #4D565F;
//$table-border-color: darken($background-base, 5%);
$table-border-color: lighten($background-base, 5%);

.table {
  @extend %default-element;
  @include font(13px, 0.75);
  border: 1px solid $table-border-color;

  th,
  td {
    border-bottom: 1px solid $table-border-color;
    padding: rhythm(0.25) rhythm(0.5);
  }
  th {
    background: rgba(#000, 0.1);
    background: $table-border-color;
  }

  tbody:not(:first-child){
    border-top: 2px solid $table-border-color;
  }
}
