////
/// @author delphinpro <delphinpro@gmail.com>
/// @copyright copyright © 2019 delphinpro
/// @license licensed under the MIT license
////

//==
//== Headings
//== ======================================= ==//

%heading-common {
  color: lighten($color-text-base, 5%);
  font-family: $wt-family-head;
}

@each $h, $params in $headings {
  $font-size: map-get-safe($params, font-size);
  $line-height: map-get-safe($params, line-height);
  $font-weight: map-get-safe($params, font-weight);
  $font-style: map-get-safe($params, font-style);
  $margin-leader: map-get-safe($params, margin-leader);
  $margin-trailer: map-get-safe($params, margin-trailer);

  .#{$h} {
    @extend %heading-common;
    @if $margin-leader {
      @include margin-leader($margin-leader);
    }
    @if $margin-trailer {
      @include margin-trailer($margin-trailer);
    }
    @if $font-size {
      @include font($font-size, $line-height);
    }
    font-weight: if($font-size, $font-weight, null);
    font-style: if($font-style, $font-style, null);

    @at-root #{$h} {
      @extend .#{$h};
    }
  }
}


//==
//== Content
//== ======================================= ==//

%default-element {
  @include rhythm-margins(0, 1);

  &:last-child {
    margin-bottom: 0;
  }
}

p {
  @extend %default-element;
}

.lead {
  @include font($rhythm-base-font-size * 1.25, 1.25);
  font-weight: 300;
}

//==
//== Block Quotes
//== ======================================= ==//

%blockquote-base {
  @include rhythm-padding(0);
  @include font($blockquote-font-size);
  margin-right: 0;
  margin-left: 0;

  > :last-child {
    margin-bottom: 0;
  }

  footer {
    position: relative;
    top: rhythm(-0.5);
    display: block;
    color: $blockquote-small-color;
    font-size: 80%;
  }
}

blockquote:not(.blockquote-reverse),
.blockquote {
  @extend %default-element;
  @extend %blockquote-base;
  padding-left: rhythm(1);
  border-left: 5px solid $blockquote-border-color;

  footer::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

.blockquote-reverse {
  @extend %default-element;
  @extend %blockquote-base;
  padding-right: rhythm(1);
  text-align: right;
  border-right: 5px solid $blockquote-border-color;

  footer::after {
    content: "\00A0 \2014"; // nbsp, em dash
  }
}

//==
//== Lists
//== ======================================= ==//

ul,
ol {
  @extend %default-element;

  ul,
  ol {
    margin-bottom: 0;
  }
}

.list-unstyled {
  @include list-unstyled();

  & > li > & {
    padding-left: 2em;
  }
}

//==
//== Description list
//== ======================================= ==//

dl {
  @extend %default-element;

  &:not(.dl-horizontal) {
    > dd + dt {
      @include margin-leader(0.5);
    }
  }
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0; // Undo browser default
}

.dl-horizontal {
  @include media-breakpoint-up(sm) {
    display: grid;
    grid-template-columns: minmax(min-content, max-content) 3fr;
    grid-column-gap: rhythm(1);
    grid-row-gap: rhythm(0.5);

    dt {
      text-align: right;
    }
  }
}
