{#
  WofhTools
  delphinpro delphinpro@gmail.com
  copyright © 2019 delphinpro
  licensed under the MIT license
#}

{% extends "layouts/base.twig" %}

{% block app %}
    {{ SSR_HTML|raw }}
{% endblock %}
